.benefits-section {
  position: relative;
  padding: 56px 0;

  @include mobile-mini {
    margin-bottom: 20px;
  }

  @include mobile-mini-landscape {
    margin-bottom: 88px;
  }

  @include iphoneX-landscape {
    margin-bottom: 88px;
  }

  &::before {
    content: url("..../..../../img/bg/benefits-decor-1.png");
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-65%);

    @include tablets {
      top: 30%;
    }

    @include mobile {
      content: none;
    }

    @include mobile-landscape {
      content: none;
    }

    @include mobile-mini-landscape {
      content: none;
    }
  }

  &::after {
    content: url("..../..../../img/bg/benefits-decor-2.png");
    position: absolute;
    left: 0;
    bottom: -18%;
    z-index: 1;

    @include mobile {
      content: none;
    }

    @include mobile-landscape {
      content: none;
    }

    @include mobile-mini-landscape {
      content: none;
    }

    @include iphoneX-landscape {
      content: none;
    }
  }
}