.benefit {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: relative;

  @include mobile {
    flex-direction: row;
    text-align: left;
    align-items: flex-start;
    margin-bottom: 15px;
  }

  &::before {
    content: url("..../../img/benefits/seporate.png");
    position: absolute;
    left: calc(100% - 20px);
    top: 62px;

    @include tablets {
      content: none;
    }
  }

  &:last-child::before {
    content: none;
  }


  &__image-wrap {
    background: #F2F5F4;
    width: 128px;
    height: 128px;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

    @include mobile-mini-landscape {
      width: 84px;
      height: 84px;
      top: 27px;
    }
  }



  &__image {
    margin-bottom: 20px;

    @include mobile {
      margin-right: 10px;
    }
  }

  &__text {
    max-width: 98%;

    @include mobile {
      padding-right: 12%;
    }
  }

  &__title {
    font-size: 27px;
    color: $black;
    margin-bottom: 14px;

    @include tablets {
      margin-bottom: 6px;
    }

    @include mobile {
      margin-bottom: 10px;
    }
  }

  &__description {

    @include mobile {
      line-height: 22px;
      max-width: 98%;
      font-weight: 300;


    }
  }
}