.features {
    display: flex;
    position: absolute;
    flex-wrap: wrap;
    bottom: 3rem;

    @include tablets {
        display: none;
    }
    @include mobile-landscape {
        bottom: 1rem
    }
    @include mobile-mini-landscape {
        display: none;}
    
}