.headline {
  text-align: center;
  margin-bottom: 46px;
  @include mobile-mini-landscape {
    margin-bottom: 0px
  }

  &__title {
    margin-bottom: 13px;
    color: $black;

    @include tablets {
      margin-bottom: 0;
    }
  }

  &__subtitle {
    max-width: 44%;
      margin: 0 auto;

    @include tablets {
      max-width: 55%;
      margin: 0 auto;
    }

    @include mobile {
      max-width: 85%;
      margin: 0 auto;
    }
    @include mobile-mini-landscape {
      max-width: 100%
    }
  }

}