.section-reviews {
  position: relative;
  background: url(../img/icons/review-berry2.webp) right top/ contain no-repeat;
  background-size: rem(136px) rem(78px);
  z-index: 3;

  &::before {
    content: "";
    background: url(../img/icons/review-bg1.webp)right bottom/ contain no-repeat;
    width: rem(100px);
    height: rem(320px);
    position: absolute;
    bottom: rem(-156px);
    left: 0;

    @include mobile {
      width: rem(68px);
      height: rem(272px);
      bottom: rem(-108px);

    }
  }

  &::after {
    content: "";
    background: url(../img/icons/review-berry.webp) right bottom / contain no-repeat;
    width: rem(136px);
    height: rem(192px);
    position: absolute;
    bottom: rem(-72px);
    left: 0;

    @include mobile {
      width: rem(88px);
      height: rem(160px);
      bottom: rem(-56px);
      max-width: 15%;
    }
  }
}