.reviews-section {
  position: relative;
  background: url("./img/bg/reviews-decor-1.png") right 2% top 6% no-repeat;
  z-index: 10;

  @include tablets {
    background-position: right -4% top 6%;
  }

  @include mobile {
    background-position: right -7% top 0%;

  }

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 100%;
    transform: translateY(-60%);
    width: 102px;
    height: 321px;
    background: url("..../../img/bg/reviews-decor-3.png") bottom left / contain no-repeat;

    @include tablets {
      width: 90px;
      height: 282px;
    }

    @include mobile {
      width: 75px;
      height: 235px;
    }
  }

  &::after {
    content: "";
    position: absolute;
    left: -10px;
    top: 100%;
    transform: translateY(-50%);
    width: 135px;
    height: 193px;
    background: url("./img/bg/reviews-decor-2.png") bottom left / contain no-repeat;

    @include tablets {
      width: 118px;
      height: 170px;
    }

    @include mobile {
      width: 122px;
      height: 176px;
      left: -34px;
    }
  }

  &__title {
    margin-bottom: 32px;

    @include mobile {
      margin-bottom: 20px;
    }
  }

  &__container {
    z-index: 10;
  }


}