.section {

  height: 100%;
  min-height: 650px;
  display: flex;
  flex-direction: column;
  justify-content: center;




  &__title {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 60px;
    text-align: center;
    color: black;
    text-transform: uppercase;

    &-order {
      color: $green;

      @include mobile-mini {
        margin-bottom: 15px;
      }
    }

    &-menu {
      position: absolute;
      top: 90px;
      left: 80px;
      color: #fff;
    }
  }
}