.section {

  height: 100%;

  display: flex;

  justify-content: center;




  &__title {
    font-size: rem(48px);
    font-weight: 700;
    margin-bottom: rem(40px);
    text-align: center;
    color: black;
    text-transform: uppercase;

    &-order {
      color: $green;

      @include mobile {
        margin-bottom: rem(4px)
      }
    }

    @include mobile-landscape {
      margin-bottom: rem(4px)
    }

    &-menu {
      position: absolute;
      top: rem(90px);
      left: rem(45px);
      color: #fff;
    }

    &-video {
      @include mobile {
        font-size: rem(35px);
      }
    }
  }
}