.interactive-avatar {
  width: rem(84px);
  height: rem(84px);
  border: 6px solid transparent;
  border-radius: 50%;
  position: relative;


  &-active {
    border-color: $green;
  }

  &:hover {
    border-color: $green;
    transition: 0.5s;
  }

  &__link {
    border: 6px solid transparent;
    position: absolute;
    width: rem(85px);
    height: rem(85px);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
  }

  &__img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
  }

}